<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios-arrow-forward"></i> {{'BACK' | translate}}
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-calm">
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/projects" class="mc-side-menu">
          <span class="slds">
            <span class="slds-icon__container slds-icon-custom-44">
              <svg class="slds-icon">
                <use xlink:href="" ng-href="{{ 'slds_assets/icons/custom-sprite/svg/symbols.svg#custom44' | svgIconCardHref }}"></use>
              </svg>
            </span>
            <span class="slds-p-right--small">
              {{'TITLE_PROJECTS' | translate}}
            </span>
          </span>
        </ion-item>
        <ion-item menu-close href="#/app/settings" class="mc-side-menu">
          <span class="slds">
            <span class="slds-icon__container">
              <svg class="slds-icon slds-icon--small">
                <use xlink:href="" ng-href="{{ 'slds_assets/icons/utility-sprite/svg/symbols.svg#settings' | svgIconCardHref }}"></use>
              </svg>
            </span>
            <span class="slds-p-right--medium">
              {{'SETTINGS' | translate}}
            </span>
          </span>
        </ion-item>
        <ion-item menu-close ng-click="doRefreshAndSync()" class="mc-side-menu">
          <span class="slds">
            <span class="slds-icon__container">
              <svg class="slds-icon slds-icon--small">
                <use xlink:href="" ng-href="{{ 'slds_assets/icons/utility-sprite/svg/symbols.svg#refresh' | svgIconCardHref }}"></use>
              </svg>
            </span>
            <span class="slds-p-right--medium">
              {{'REFRESH_AND_SYNC' | translate}}
            </span>
          </span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>