<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-hide="$exposeAside.active">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-header-bar class="bar-assertive">
        <button ng-click="goBack()" ng-if="lastItemSelected" class="button button-icon icon ion-ios-arrow-back"></button>
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <div ng-repeat="item in items">
            <ion-item ng-if="!item.node" ng-click="showSubmenu(item)" class="item-icon-right">
              <i class="icon ion-ios-arrow-forward"></i>{{item.name}}
            </ion-item>
            <ion-item ng-if="item.node" href="{{item.href}}">{{item.name}}</ion-item>
        </div>
        <ion-item menu-close href="#/app/projects">
          Projects
        </ion-item>
        <ion-item menu-close href="#/app/settings">
          Settings
        </ion-item>
        <ion-item menu-close ng-click="doRefreshAndSync()">
          Sync and Refresh
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>