<ion-view hide-back-button="true">
  <ion-nav-title>
    {{title}}
  </ion-nav-title>
  <ion-content padding="true" class="slds">

    <form name="expenseForm" ng-controller="ProjectExpNewCtrl" ng-submit="submitForm()">

      <div class="slds-form--stacked">
        <span ng-switch="paramType">
          <span name="timesheetspan" ng-switch-when="Timesheet">
            <div class="slds-form-element">
              <label class="slds-form-element__label">{{'NEW_REC_DESCRIPTION' | translate}}</label>
              <div class="slds-form-element__control">
                <input name="description" class="slds-input" ng-model="description" type="text" placeholder="{{'TIMESHEET_DESC_PLACEHOLDER' | translate}}" required/>
              </div>
            </div>
            <div class="slds-form-element">
              <label class="slds-form-element__label">{{'TIMESHEET_DESC' | translate}}</label>
              <div class="slds-form-element__control">
                <input name="expenseValue" class="slds-input" ng-model="expenseValue"  type="number" required/>
              </div>
            </div>
          </span>
          <span ng-switch-when="Expense">
            <div class="slds-form-element">
              <label class="slds-form-element__label">{{'NEW_REC_DESCRIPTION' | translate}}</label>
              <div class="slds-form-element__control">
                <input name="description" class="slds-input" ng-model="description"  type="text" placeholder="{{'EXPENSE_DESC_PLACEHOLDER' | translate}}" required/>
              </div>
            </div>
            <div class="slds-form-element">
              <label class="slds-form-element__label">{{'NEW_REC_DESCRIPTION' | translate}}</label>
              <div class="slds-form-element__control">
                <input name="expenseValue" class="slds-input" ng-model="expenseValue"  type="number" required/>
              </div>
            </div>
          </span>
        </span>
      </div>

      <span class="slds">
        <div class="slds-grid slds-p-top--medium slds-grid--align-center">
          <div class="slds-col--padded">
            <button
              ng-disabled="expenseForm.$invalid"
              class="slds-button slds-button--brand slds-max-small-button--stretch submit-expense">{{'SUBMIT' | translate}}</button>
          </div>
          <div class="slds-col--padded">
            <a class="slds-button slds-button--neutral slds-max-small-button--stretch" href="#/app/project/{{projectId}}">{{'CANCEL' | translate}}</a>
          </div>
        </div>
      </span>
    </form>
<!--       <div class="row" ng-show="paramType=='Expense'">
  <div class="col">
    <button class="button-full button button-positive" ng-click="scanBarcode()">Scan Barcode</button>
  </div>
  <div class="col">
    <button class="button-full button button-positive" ng-click="capturePhoto()">Take Picture</button>
  </div>
</div>
<div class="row" ng-show="paramType=='Expense'">
  <div class="col" ng-show="scanImageData">
    <h4>{{scanImageData}}</h4>
  </div>
  <div class="col" ng-show="photoImageData">
    <img data-ng-src="data:image/jpg;base64,{{photoImageData}}" />
  </div>
</div> -->
  </ion-content>
</ion-view>
