<ion-view hide-tabs hide-back-button="true">
  <ion-nav-title>
    New {{paramType}}
  </ion-nav-title>
  <ion-content padding="true">
    <form name="expenseForm" ng-controller="ProjectExpNewCtrl" ng-submit="submitForm()">
      <div class="list">
        <span ng-switch="paramType">
           <span name="timesheetspan" ng-switch-when="Timesheet">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <input name="description" ng-model="description" type="text" placeholder="What did you spend time doing?" required/>
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Duration in minutes</span>
                  <input name="expenseValue" ng-model="expenseValue"  type="number" required/>
              </label>
           </span>
           <span ng-switch-when="Expense">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <input name="description" ng-model="description"  type="text" placeholder="What did you spend money on?" required/>
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">How much was it?</span>
                  <input name="expenseValue" ng-model="expenseValue"  type="number" required/>
              </label>
           </span>
        </span>
      </div>
      <div class="row">
        <div class="col">
          <button
            ng-disabled="expenseForm.$invalid"
            class="button-full button icon-left ion-checkmark button-positive submit-expense">Submit</button>
        </div>
        <div class="col">
          <a class="button-full button icon-left ion-close button-assertive" href="#/tab/project/{{projectId}}">Cancel</a>
        </div>
      </div>
    </form>
      <div class="row" ng-show="paramType=='Expense'">
        <div class="col">
          <button class="button-full button button-positive" ng-click="scanBarcode()">Scan Barcode</button>
        </div>
        <div class="col">
          <button class="button-full button button-positive" ng-click="capturePhoto()">Take Picture</button>
        </div>
      </div>
      <div class="row" ng-show="paramType=='Expense'">
        <div class="col" ng-show="scanImageData">
          <h4>{{scanImageData}}</h4>
        </div>
        <div class="col" ng-show="photoImageData">
          <img data-ng-src="data:image/jpg;base64,{{photoImageData}}" />
        </div>
      </div>
  </ion-content>
</ion-view>
