 <ion-view title="{{title}}">
  <ion-content>
    <ion-item ng-show="expenses.length==0">{{'NO_RECORDS' | translate}}</ion-item>
    <ion-list>
      <div class="list list-inset">
        <ion-item ng-repeat="record in expenses" type="item-text-wrap">
          <h3>{{record.mobilecaddy1__Short_Description__c}}</h3>
          <p>
           <span ng-switch="paramType">
             <span name="timesheetspan" ng-switch-when="Timesheets">{{record.mobilecaddy1__Duration_Minutes__c}} {{'MINUTES' | translate}}</span>
             <span ng-switch-when="Expenses">{{record.mobilecaddy1__Expense_Amount__c}}{{'CURRENCY_SYMBOL' | translate}}</span>
           </span>
           </br>ID: {{record.Name}}
          </p>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>