<ion-view>
  <ion-nav-title>
   {{title}}
  </ion-nav-title>
  <ion-content class="slds">
    <div ng-show="expenses">
      <div ng-show="expenses.length==0" ng-cloak class="slds-text-body--regular slds-p-right--small">{{'NO_RECORDS' | translate}}</div>
    </div>
    <ion-list>
      <div class="list list-inset">
        <ion-item ng-repeat="record in expenses" type="item-text-wrap">
          <h3>{{record.mobilecaddy1__Short_Description__c}}</h3>
          <p>
           <span ng-switch="paramType">
             <span name="timesheetspan" ng-switch-when="Timesheets">{{record.mobilecaddy1__Duration_Minutes__c}} {{'MINUTES' | translate}}</span>
             <span ng-switch-when="Expenses">£{{record.mobilecaddy1__Expense_Amount__c}}</span>
           </span>
           </br>ID: {{record.Name}}
          </p>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>