 <ion-view title="{{recordType}}">
  <ion-content>
    <ion-list>
      <div class="list list-inset">
        <ion-item ng-repeat="record in expenses" type="item-text-wrap" href="#/tab/project/{{recordType}}/{{record.Id}}">
          <h3>{{record.Short_Description__c}}</h3>
          <p>
           <span ng-switch="recordType">
             <span name="timesheetspan" ng-switch-when="Timesheets">{{record.Duration_Minutes__c}} minutes</span>
             <span ng-switch-when="Expenses">£{{record.Expense_Amount__c}}</span>
           </span>
           </br>{{record.Name}}</p>
        </span>
          </p>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>