<ion-view title="Testing Resources">
	<ion-content>
	<ion-list>
	<div class="list list-inset">
		<a class="item item-icon-left" href="#/app/settings/mti">
    	<i class="icon ion-soup-can-outline"></i>
    	Mobile Table Inspector
		</a>
		<a class="item item-icon-left" ng-click="resumeEvent()">
    	<i class="icon ion-erlenmeyer-flask"></i>
    	Test Resume Event
		</a>
		<a class="item item-icon-left" ng-click="localNotification(100100)">
    	<i class="icon ion-android-notifications-none"></i>
    	Schedule 100100 localNotification
		</a>
		<a class="item item-icon-left" ng-click="localNotificationTrigger(100100)">
    	<i class="icon ion-android-notifications"></i>
    	Test 100100 localNotificationTrigger
		</a>
	</div>
	</ion-list>
  </ion-content>
</ion-view>