// Import MobileCaddy SCSS
@import 'mobilecaddy';

// Ionic overrides

$positive:							#16325c;
$energized:             #004776;
$item-divider-bg:       lighten($positive, 50%);
$list-header-color:     lighten($positive, 50%);
$button-light-border:   lighten($positive, 50%);

@import "ionic/ionic";

//  A P P    S T A R T    P A G E
#start-page {
  // Could style your apps startpage here.
  background:
  // LOGO
  url('../img/logo.png' ) no-repeat center 50px,
  #004576;
  height: 4000px; // needed to display whilst Ionic is initialising
}

#start-page .card {
  box-shadow: none;
  background-color : transparent;
  position: absolute;
  top: 150px;
}

#start-page .card p{
  text-align: center;
  color: #fff;
}

#start-page .card .item {
  border: 0;
  background-color : transparent;
}

// your slick app styles can go here...

ion-nav-view { background-color: #fff; }


.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

a.item-content:hover {
	background-color: $item-divider-bg;}

.card {box-shadow: 0 1px 1px $button-light-border;}

a.disabled {
   pointer-events: none;
   cursor: default;
   color: grey;
}

.search-input {
  margin-right: 0px !important;
}

.search-clear-button {
  color: #bbb;
}

.sync-button {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 9999;
}

.rtl {
  direction: rtl;
}

.item-complex .item-content, .item-radio .item-content {
  padding: 16px 16px 16px 49px;
}

.item-input input {
  padding-right: 0;
  padding-left: 24px;
}

.item-input {
  padding: 6px 16px 5px 0;
}

.loading-container {
  direction: rtl;
}