// Import MobileCaddy SCSS
@import 'mobilecaddy';

// Ionic overrides

$positive:							#2aa3fe;
$item-divider-bg:				#caecd3;
$list-header-color:			#caecd3;
$button-light-border:		#7fd291;

@import "ionic/ionic";

//  A P P    S T A R T    P A G E
#start-page {
  // Could style your apps startpage here.
  background:
  // LOGO
  url('../img/logo.png' ) no-repeat center 50px,
  #004576;
  height: 4000px; // needed to display whilst Ionic is initialising
}

#start-page .card {
  box-shadow: none;
  background-color : transparent;
  position: absolute;
  top: 150px;
}

#start-page .card p{
  text-align: center;
  color: #fff;
}

#start-page .card .item {
  border: 0;
  background-color : transparent;
}

// your slick app styles can go here...

ion-nav-view { background-color: #fff; }


.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

a.item-content:hover{
	background-color: $item-divider-bg;}

.card {box-shadow: 0 1px 1px $button-light-border;}

a.disabled {
   pointer-events: none;
   cursor: default;
   color: grey;
}
